alexa/CPD Dish Flow
[{"id":"86f843e7.98493","type":"tab","label":"Flow 1"},{"id":"4ba29b40.29ec14","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"26bd4bb6.d9e9f4","type":"amazon config","z":"","name":"AWS-all","region":"eu-west-1"},{"id":"7c7b5e3c.f378a","type":"aws-config","z":""},{"id":"710b9250.4c84ec","type":"amazon config","z":"","name":"AWS-withCreds","region":"us-east-1"},{"id":"9c30c1d9.d8239","type":"mqtt in","z":"86f843e7.98493","name":"","topic":"/cpd/dish","qos":"2","broker":"4ba29b40.29ec14","x":160,"y":100,"wires":[["2f7d51a6.561c4e"]]},{"id":"fc407511.c0e208","type":"amazon s3 out","z":"86f843e7.98493","aws":"7c7b5e3c.f378a","bucket":"cpd-data-bucket","filename":"cpd_in_file_ON.json","localFilename":"","region":"eu-west-1","name":"ON-bucket","x":810,"y":140,"wires":[]},{"id":"2f7d51a6.561c4e","type":"function","z":"86f843e7.98493","name":"","func":"pl = msg.payload;\nts = Date.now();\n\nmsg.payload = {\n  \"state\": pl,\n  \"timestamp\": ts\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["ce1493b.71c827","c470a9af.7c9f68"]]},{"id":"c470a9af.7c9f68","type":"debug","z":"86f843e7.98493","name":"","active":true,"console":"false","complete":"true","x":770,"y":420,"wires":[]},{"id":"ce1493b.71c827","type":"switch","z":"86f843e7.98493","name":"On-or-Off","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":520,"y":100,"wires":[["fc407511.c0e208"],["5a92bb65.ac7e84"],["dec9b407.146ea8"]]},{"id":"5a92bb65.ac7e84","type":"amazon s3 out","z":"86f843e7.98493","aws":"7c7b5e3c.f378a","bucket":"cpd-data-bucket","filename":"cpd_in_file_OFF.json","localFilename":"","region":"eu-west-1","name":"OFF-bucket","x":810,"y":220,"wires":[]},{"id":"dec9b407.146ea8","type":"debug","z":"86f843e7.98493","name":"Otherwise","active":true,"console":"false","complete":"true","x":780,"y":280,"wires":[]}]
